body{
  margin: 0;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  
}
.head {
  background-color: black;
  position: ;
  width: 100%;
  height: 140px;
  color: white;
  font-size: 50px;
  z-index: 9;
  font-weight: bold;
}
/*_______________________________________________________________________________*/

/*_______________________________________________________________________________*/
.uno {
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 95%;
  height: 95%;
  font-size: ;
  color:#424242;
  text-align: center;
}
.unouno {
  background-image: url("iglesia.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
  filter: brightness(0.4);
  margin: 10px;
}

.dos {
  background-color: white;
  color: rgb(154, 141, 142);
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subdosuno {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subdosdos {
  background-color: #e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.subdostres {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subdoscuatro {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.tres {
  background-color:white;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cuatro {
  background-color: white;
  width: 100%;
  height: 1900px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.cuatrouno {
  width: 95%;
  height: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.pie {
  background-color: #ece5e4;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
