body{
  margin: 0;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  
}
.head {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 10%;
  color: white;
  font-size: 50px;
  z-index: 9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/*_______________________________________________________________________________*/

/*_______________________________________________________________________________*/
.uno {
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 95%;
  height: 95%;
  font-size: ;
  color:#424242;
  text-align: center;
}

.dos {
  background-color: white;
  color: rgb(154, 141, 142);
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subdosuno {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subdosdos {
  background-color: #e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.subdostres {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subdoscuatro {
  background-color:#e0b062;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.cuatro {
  background-color: white;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
}
.cuatrouno {
  width: 95%;
  height: 15%;
  background-image: url(logo.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.pie {
  background-color: #ece5e4;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}